#bag{
  border: none;
  /*padding: top 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;*/
  padding: 5px 15px;
  border-radius: 10px;
}
#wish{
  padding: 5px 35px;
  border: 2px solid black
}