body {
  font-family: 'Roboto', sans-serif;
  background-color: #282c35;
  color: #fff;
  margin: 0;
  padding: 0;
}

#main-heading {
  text-align: center;
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  margin-top: 20px;
  align-items: center;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #393e46;
  color: #fff;
  border: none;
  border-bottom: 2px solid #61dafb;
  transition: border-bottom 0.3s ease-in-out;
}

#todo-input:focus, #todo-date:focus {
  border-bottom: 2px solid #61dafb;
}

.btn-delete, .btn-todo {
  background: linear-gradient(45deg, #4ecdc4, #556270);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-todo {
  background: linear-gradient(45deg, #ff6b6b, #556270);
}

.btn-delete:hover, .btn-todo:hover {
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
}

.todo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
}

.todo-container span {
  display: block;
  padding: 10px;
  background-color: #393e46;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.todo-container button {
  display: block;
  width: 100%;
}
